<?xml version="1.0"?>
<robot>

  <property name="turtlebot_calib_cam_x" value="-0.0844382" />
  <property name="turtlebot_calib_cam_y" value="0" />
  <property name="turtlebot_calib_cam_z" value="0.1047496" />
  <property name="turtlebot_calib_cam_rr" value="0" />
  <property name="turtlebot_calib_cam_rp" value="0" />
  <property name="turtlebot_calib_cam_ry" value="0" />
  <property name="turtlebot_camera_parent_name" value="plate_2_link" />

</robot>
