<launch>  
  <node pkg="rbx1_vision" name="face_tracker2" type="face_tracker2.py" output="screen">

    <remap from="input_rgb_image" to="/camera/rgb/image_raw" />
    <remap from="input_depth_image" to="/camera/depth_registered/image_raw" />

    <rosparam>
      use_depth_for_tracking: True
      min_keypoints: 20
      abs_min_keypoints: 6
      add_keypoint_distance: 10
      std_err_xy: 2.5
      pct_err_z: 1.5
      max_mse: 10000
      add_keypoints_interval: 1
      drop_keypoints_interval: 1
      show_text: True
      show_features: True
      show_add_drop: False
      feature_size: 1
      expand_roi: 1.02
      gf_maxCorners: 200
      gf_qualityLevel: 0.02
      gf_minDistance: 7
      gf_blockSize: 10
      gf_useHarrisDetector: False
      gf_k: 0.04
      haar_scaleFactor: 1.3
      haar_minNeighbors: 3
      haar_minSize: 30
      haar_maxSize: 150
    </rosparam>
    
   	<param name="cascade_1" value="$(find rbx1_vision)/data/haar_detectors/haarcascade_frontalface_alt2.xml" />
  	<param name="cascade_2" value="$(find rbx1_vision)/data/haar_detectors/haarcascade_frontalface_alt.xml" />
  	<param name="cascade_3" value="$(find rbx1_vision)/data/haar_detectors/haarcascade_profileface.xml" />

  </node>
</launch>
