<launch>

  <!-- Start the nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a passthrough filter on the z axis -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth_registered/points" />
    <remap from="~output" to="/passthrough" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 1.0
      filter_limit_max: 1.25
      filter_limit_negative: False
    </rosparam>
  </node>
</launch>